.header {
  height: 100px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid rgba(181, 181, 181, 0.2);

}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}




