body {
  background-image: url("../public/img/fon.jpg")  ;
  background-size:  cover;
  background-repeat:  no-repeat;
  background-position:  center;
  min-height: 100vh;
}

.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
  }

.planet {
  position: absolute;
  top: 50%;
  right: 50%;
  transform: translate(50%,-50%);
  width: 62vh;
  height: 63vh;
  background-image:url("../public/img/mars.png");
  background-size:  contain;
  background-repeat: no-repeat, no-repeat;
  background-position: center, center;
z-index: 5;

}

